# helm_chart_deploy/templates/custom-values.yaml.j2
replicaCount: 2
image:
  repository: nginx
  tag: stable
  pullPolicy: IfNotPresent
service:
  type: ClusterIP
  port: 80
ingress:
  enabled: false
annotations: {}
hosts:
  - host: "{{ ansible_nas.domain }}"
    paths: []
tls: []
resources: {}
nodeSelector: {}
tolerations: []
affinity: {}
